{% extends "base_simple_nav.html" %}
{% load static %}

{% block content %}
<div class="parallax-container" id="index-banner">
  <div class="parallax">
    <img src="{% static 'image/bar.png' %}">
  </div>
</div>
<div class="container">
  <h2 class="header">Inicia Sesión</h2>
  {% if mensaje %}
  <div class="row">
    <div class="col s12">
      <blockquote>
        {{ mensaje }}
      </blockquote>
    </div>
  </div>
  {% endif %}
    <form class="" action="" method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Nombre de usuario" value="">
      <input type="password" name="password" placeholder="Ingresa tu contraseña" value="">
      <button class="btn orange accent-3" type="submit" name="button">Log In!</button>
    </form>
</div>
{% endblock %}
