{% extends "base.html" %}

{% block content %}
<div class="container">
  <table class="highlight">
    <thead>
      <th>Nombre</th>
      <th>Email</th>
      <th>Empresa</th>
      <th>Teléfonos</th>
    </thead>
    <tbody>
      {% for contacto in contactos %}
      <tr>
        <td>{{ contacto.nombre }}</td>
        <td>{{ contacto.email }}</td>
        <td>{{ contacto.empresa }}</td>
        <td>
          {% for telefono in telefonos %}
            {% if telefono.contacto == contacto %}
            {{ telefono }}
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
