/**
 * Formatea el color de celdas por jquery dateTable
 */
table.dataTable thead th,
table.dataTable thead td {
  border: none; }
table.dataTable.no-footer {
  border-bottom: none; }

.text-color-accent {
  color: #ffbc33 !important; }

.text-color-primary {
  color: #232323 !important; }

.text-color-shade {
  color: #7c7c7c !important; }

.text-color-secondary {
  color: #f5f5f5 !important; }

.text-color-error {
  color: #f44336 !important; }

/* label color */
.input-field label {
  color: #7c7c7c; }

/* label focus color */
textarea.materialize-textarea:focus + label.active,
.input-field input[type=text]:focus.validate + label.active,
.input-field input[type=tel]:focus.validate + label.active,
.input-field input[type=email]:focus.validate + label.active,
.input-field input[type=url]:focus.validate + label.active {
  color: #5f83dd; }

/* label underline focus color */
textarea.materialize-textarea:focus:not([readonly]),
.input-field input[type=text]:focus.validate,
.input-field input[type=tel]:focus.validate,
.input-field input[type=email]:focus.validate,
.input-field input[type=url]:focus.validate {
  border-bottom: 1px solid #5f83dd;
  box-shadow: 0 1px 0 0 #5f83dd; }

/* valid color */
.input-field input[type=text].valid,
.input-field input[type=tel].valid,
.input-field input[type=email].valid,
.input-field input[type=url].valid {
  border-bottom: 1px solid #00c853;
  box-shadow: 0 1px 0 0 #00c853; }

/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=tel].invalid,
.input-field input[type=email].invalid,
.input-field input[type=url].invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #232323; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

footer.page-footer {
  background-color: #2a56c6;
  font-size: .9rem; }

.icon-container .icon-info {
  color: #7c7c7c; }
.icon-container .icon-info:hover {
  color: #afafaf; }
.icon-container .icon-edit {
  color: #2a56c6; }
.icon-container .icon-edit:hover {
  color: #7493e2; }
.icon-container .icon-delete {
  color: #f44336; }
.icon-container .icon-delete:hover {
  color: #f99d97; }
.icon-container .icon-addimage {
  color: #7493e2;
  font-size: 80px; }

main {
  flex: 1 0 auto; }

nav,
nav .button-collapse,
nav ul li a {
  color: #232323;
  display: flex; }

nav .brand-logo {
  color: #F5F5F5; }

textarea.materialize-textarea {
  height: 3rem;
  padding: .8rem 0 .2rem; }

ul.dropdown-content {
  margin-top: 4.2rem;
  align-content: center; }

.container.max-cont {
  height: 100vh;
  justify-content: center; }

.file-field .btn {
  background-color: #2a56c6; }
  .file-field .btn:hover {
    background-color: #5f83dd; }

.color-secondary {
  background-color: #ffab00 !important; }
.color-primary {
  background-color: #2a56c6 !important; }
  .color-primary-darken {
    background-color: #1d3b87 !important; }
  .color-primary-lighten {
    background-color: #5f83dd !important; }
.color-shade {
  background-color: #F5F5F5 !important; }

.container-wide {
  margin-top: 3rem;
  margin-bottom: 5rem; }
  .container-wide a.btn {
    border-radius: 100px;
    margin-top: 1rem; }

.header {
  font-weight: 300; }

.dropdown-content li > span, .dropdown-content li > a {
  color: #039be5; }

tr td.td-icons-container {
  display: flex;
  justify-content: center; }
  tr td.td-icons-container span.icon-container {
    cursor: pointer;
    display: flex;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    transition: all .3s; }
    tr td.td-icons-container span.icon-container i {
      font-size: 1.7rem; }

.login-card .card-content {
  padding-top: 8rem;
  padding-bottom: .5rem; }
.login-card i#login-icon {
  font-size: 8rem;
  color: #2a56c6;
  margin: 1rem auto; }

.parallax-container {
  height: 240px; }
  .parallax-container .parallax img {
    max-width: 200%; }
  .parallax-container .parallax-body {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    color: #F5F5F5;
    align-items: center; }

.mt-0 {
  margin-top: 0; }
.mt-1 {
  margin-top: 1rem; }
.mt-2 {
  margin-top: 2rem; }
.mt-3 {
  margin-top: 3rem; }
.mb-0 {
  margin-bottom: 0; }
.mb-1 {
  margin-bottom: 1rem; }
.mb-2 {
  margin-bottom: 2rem; }
.mb-3 {
  margin-bottom: 3rem; }

.material-icons {
  color: #7c7c7c; }
  .material-icons.prefix.active {
    color: #5f83dd; }

.promo i {
  font-size: 10rem;
  color: #2a56c6; }
.promo p.promo-caption {
  font-size: 1.5rem;
  margin-top: 5px; }

@media only screen and (min-width: 601px) {
  footer.page-footer .row .col:nth-child(1) {
    text-align: left; }
  footer.page-footer .row .col:nth-child(2) {
    text-align: right; } }
@media only screen and (min-width: 993px) {
  .parallax-container {
    height: 380px; }

  .promo i {
    font-size: 12rem; }
  .promo p.promo-caption {
    font-size: 1.7rem; } }

/*# sourceMappingURL=master.css.map */

.hidden {
  display: none;
}