$white: #fefefe;
$color-primary: #2196f3;
$color-accent: #ffab00;
$color-shade: #f5f5f5;

$text-color-primary: #232323;

nav,
nav .button-collapse,
nav ul li a {
  color: $text-color-primary;
  display: flex;
}
nav .brand-logo {
  color: $white;
}
ul.dropdown-content {
  margin-top: 4.2sudo gemrem;
}
h2.header {
  font-weight: 300;
}
.color-accent {
  background-color: $color-accent !important;
}
.color-primary {
  background-color: $color-primary !important;
}
.color-shade {
  background-color: $color-shade !important;
}
.text-color-primary {
  color: $text-color-primary !important;
}
.parallax-container {
  height: 240px;
  .parallax-title {
    display: flex;
    justify-content: center;
    height: 100%;
  }
}
.parallax-title h2 {
  align-self: center;
  text-align: center;
  color: $white;
}

.parallax-container .parallax img {
  max-width: 200%;
}

@media screen and (min-width: 480px) {
  .parallax-container {
    height: 320px;
  }
}

@media screen and (min-width: 720px) {
  .parallax-container {
    height: 380px;
  }
}
