{% extends "base.html" %}
{% load static %}

{% block stylesheets  %}
<!--Let browser know website is optimized for mobile-->
<!--
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
-->
{% endblock %}

{% block content %}
<div class="parallax-container">
  <div class="parallax">
    <img src="{% static 'image/book.jpg' %}">
  </div>
  <div class="parallax-body">
    <h2 class="header">
      Lista de contactos
    </h2>
  </div>
</div>
<div class="container mt-2 mb-3">
  <table id="tablacontacto" class="highlight striped centered responsive-table">
    <thead>
      <th>Nombre</th>
      <th>Teléfono Principal</th>
      <th>Email</th>
      <th>Empresa</th>
      <th>Tipo empresa</th>
      <th>Cargo</th>
      <th>creado por</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {% for contacto in contactos %}
      <tr>
        <td>{{ contacto.nombre }}</td>
        <td>{{ contacto.telefono_principal }}</td>
        <td>{{ contacto.email }}</td>
        <td>{{ contacto.empresa_fk }}</td>
        <td>
          {% if contacto.empresa_fk.tipo == "FUE" %}
          <i class="material-icons">whatshot</i>
          {% elif contacto.empresa_fk.tipo == "AGU" %
          <i class="material-icons">opacity</i>
          {% elif contacto.empresa_fk.tipo == "TIE" %}
          <i class="material-icons">terrain</i>
          {% elif contacto.empresa_fk.tipo == "AIR" %}
          <i class="material-icons">toys</i>
          {% endif %}
        </td>
        <td>{{ contacto.cargo }}</td>
        <td>{{ contacto.usuario }}</td>
        <td class="td-icons-container">
          <span class="icon-container"><i class="material-icons icon-info">info_outline</i></span>
          <span class="icon-container"><i class="material-icons icon-edit">mode_edit</i></span>
          <span class="icon-container"><i class="material-icons icon-delete">delete</i></span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="fixed-action-btn">
  <a href="{% url 'contactos:nuevo_contacto' %}" class="btn-floating btn-large waves-effect waves-light color-secondary">
    <i class="waves-effect waves-light material-icons">add</i>
  </a>
</div>
{% endblock %}

{% block scriptss %}
<!-- jQuery DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#tablacontacto').DataTable({
      "oLanguage": {
        "sZeroRecords": "No se encontraron registros",
        "sSearch": "Buscar: ",
        "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ Contactos",
        "sInfoFiltered": "Filtrado de _MAX_ contactos totales",
        "sInfoEmpty": "No se encontraron coincidencias, ",
        "sLoadingRecords": "Cargando...",
        "sLengthMenu": "",
        "oPaginate": {
          "sNext": "Siguiente",
          "sPrevious": "Anterior",
        },
      },
      "ordering": false,
    })
  });
</script>
{% endblock %}
