{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="parallax-container" id="index-banner">
  <div class="parallax">
    <img src="{% static 'image/carta.jpg' %}">
  </div>
  <div class="parallax-body">
    <h2 class="header">
      Crear nuevo contacto
    </h2>
  </div>
</div>
<div class="container mt-1 mb-2">
  <div class="card-panel">
    <form class="" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <!-- Nombre -->
      <div class="input-field col s3">
        <i class="material-icons prefix ">account_circle</i>
        {{ form.tratamiento }}
      </div>
      <div class="input-field col s9">
        {{ form.nombre }}
        <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
      </div>
      <!-- Empresa -->
      <div class="input-field col s12 m9">
        <i class="material-icons prefix ">business</i>
        {{ form.empresa }}
        <label for="{{ form.empresa.id_for_label }}">{{ form.empresa.label }}</label>
      </div>
      <!-- giro -->
      <div class="input-field col s12 m3">
        {{ form.giro }}
        <label for="{{ form.giro.id_for_label }}">{{ form.giro.label }}</label>
      </div>
      <!-- CARGO -->
      <div class="input-field col s12 m8">
        <i class="material-icons prefix ">business_center</i>
        {{ form.cargo }}
        <label for="{{ form.cargo.id_for_label }}">{{ form.cargo.label }}</label>
      </div>
      <!-- ntd -->
      <div class="input-field col s12 m4">
        {{ form.ntd }}
        <label for="{{ form.ntd.id_for_label }}">{{ form.ntd.label }}</label>
      </div>
      <!-- Telefono-->
      <div class="input-field col s12 m9">
        <i class="material-icons prefix ">phone</i>
        {{ form.telefono }}
        <label for="{{ form.telefono.id_for_label }}">{{ form.telefono.label }}</label>
      </div>
      <!-- Extension -->
      <div class="input-field col s12 m3">
        {{ form.extension }}
        <label for="{{ form.extension.id_for_label }}">{{ form.extension.label }}</label>
      </div>
      <!-- Celular -->
      <div class="input-field col s12 m6">
        <i class="material-icons prefix ">phone</i>
        {{ form.celular }}
        <label for="{{ form.celular.id_for_label }}">{{ form.celular.label }}</label>
      </div>
      <!-- Email -->
      <div class="input-field col s12 m6">
        <i class="material-icons prefix ">email</i>
        {{ form.email }}
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      </div>
      <!-- Nota -->
      <div class="input-field col s12">
        <i class="material-icons prefix ">note</i>
        {{ form.nota }}
        <label for="{{ form.nota.id_for_label }}">{{ form.nota.label }}</label>
      </div>
      <!-- Imagen -->
      <div class="file-field input-field col s12">
        <div class="btn waves-effect waves-light">
          <span>Foto</span>
          {{ form.imagen }}
          <label for="{{ form.imagen.id_for_label }}">{{ form.imagen.label }}</label>
        </div>
          {{ form.creado_por }}
          {{ form.tipo }}
        <div class="file-path-wrapper">
          <input type="text" class="file-path validate">
        </div>
      </div>
      <button type="submit" name="button" class="btn bt waves-effect waves-light color-secondary right">Crear contacto</button>
    </form>
  </div>
</div>
{% endblock %}
